.todo-item-container {
  ion-icon {
    color: rgb(163, 38, 22);
    cursor: pointer;
  }
  display: flex;
  justify-content: space-between;
  gap: 1em;
  height: 2em;
  align-items: center;

  span {
    flex-grow: 1;
  }
  .checked {
    text-decoration: line-through;
  }
}
