.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 50vw;
}
.app-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  button {
    border: 0;
    background: rgb(46, 135, 202);
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    cursor: pointer;
  }
  input {
    border: 1px solid rgba(63, 166, 244, 0.781);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    flex-grow: 1;

    &:focus-visible {
      outline: none;
    }

    &:focus {
      box-shadow: 0px 0px 5px 4px rgba(63, 165, 244, 0.2);
    }
  }
}
